{% extends 'base.html' %}
{% load static %}

{% block styles %}


    .info {
        display: none;
    }
    .menu {
        font-family: "karmatic";
        font-style: italic;
        line-width: 100%;
        color: '#ffffff';
        background-color: none;
        margin: 1vh;
        width: 60vw;
    }

    button:hover {
        background-color: #F39926;

    }


{% endblock styles %}

{% block content %}
<div class='container' style='display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;'>
    <h1 style='font-family: "karmatic"; font-style: italic; color: #AC145A; text-align: center; letter-spacing: 2;'>likelion duksung</h1>
    <img src='{% static "img/maintitle.png" %}' alt='something' style='width: 40vw;'>
    <button class='menu' onclick="location.href='{% url "people" %}'">tutors</button>
    <button class='menu' onclick="location.href='{% url "milestone" %}'">milestone</button>
    <button class='menu' onclick="location.href='{% url "sns" %}'">keep in touch</button>



</div>
{% endblock %}